[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
googletrans = "==3.1.0a0"
pycryptopayapi = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
